################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CubeReader/v15

## ignore build artifacts and folders
*.exe
Bin/
Obj/

## ignore user cache files and locks
*.lock
*.ide
*.ide-shm
*.ide-wal
*.suo
